<% provide(:title, "About") %>
<h1>About</h1>
<div class="center">
  <h3>この著者は他にどんな本を書いているのだろう？</h3>
  <p>本を読んだ後、ふとこのような疑問は浮かびませんか？<p>
  <p>そんな疑問からこのアプリは生まれました。</p>
  <p>好きな筆者をフォローして、好きな本をお気に入りに登録して、他の作品をどんどん探っていきましょう！自分の人生を変える本に出会えるかも！？</p>
</div>