<div class="center jumbotron">
  <h1>著者と読者を繫げるアプリ～読書コミュニティ～</h1>
  <% if logged_in? %>
  <% else %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <li class="all_books col-xs-6 col-md-4 col-lg-3">
        <% if book.image.attached? %>
          <%= image_tag book.display_image %>
        <% end %>
        <p><%= link_to book.title, book %></p>
      </li>
    <% end %>
  </div>
</div>