<% provide(:title, 'All authors') %>
<h1>All authors</h1>
<div class="container authors">
  <div class="row">
    <% @authors.each do |author| %>
      <li class="col-xs-4 col-md-3 col-lg-2.4">
        <%= image_tag author.avatar_image, class: "avatar" %>
        <p><%= link_to author.name, author %></p>
      </li>
    <% end %>
  </div>
</div>
