<li>
  <% if user.image.attached? %>
    <%= image_tag user.avatar_image, class: "user_avatar" %>
  <% else %>
    <%= gravatar_for user %>
  <% end %>
  <%= link_to user.name, user, class:"underline" %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>