<% if current_user.image.attached? %>
  <%= image_tag current_user.avatar_image, class: "user_avatar" %>
<% else %>
  <%= gravatar_for current_user %>
<% end %>
<h2><%= current_user.name %></h2>
<span><%= link_to "view my profile", current_user %></span>
<br>
<br>
<br>