@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 2px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  vertical-align: middle;
  h1 {
    margin-bottom: 10px;
  }
}

.border-top{
  border-top: solid thin;
  padding-top: 10px;
}

.border-top-thick{
  border-top: solid medium;
  padding-top: 10px;
}

.border-bottom{
  border-bottom: solid thin;
  padding-bottom: 10px;
}

.margin{
  margin: 10px;
}

.margin-right{
  margin-right: 10px;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.float-clear{
  clear: both;
}

.underline{
  text-decoration: underline;
}

.btn-search {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
  background-color: rgb(221, 175, 115);
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: 'Avenir', serif;
  float: right;
  &:hover {
    background-color: rgb(245, 123, 8);
    color: rgb(255, 255, 255);
  }
}
 
.btn-green {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
  background-color: rgb(115, 221, 131);
  color: rgb(32, 28, 28);
  font-style: italic;
  font-family: 'Avenir', serif;
  &:hover {
    background-color: rgb(8, 245, 130);
    color: #000;
  }
}
 
.btn-green-wide {
  width: 140px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
  background-color: rgb(115, 221, 131);
  color: rgb(32, 28, 28);
  font-style: italic;
  font-family: 'Avenir', serif;
  &:hover {
    background-color: rgb(8, 245, 130);
    color: #000;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
  font-weight: normal;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  color: black;
  word-break: break-all;
}

a{
  color: rgb(86, 86, 86);
  &:hover {
    color: rgb(8, 8, 8);
  }
}

li{
  list-style: none;
}

/* header */

#logo {
  float: left;
  margin-right: 30px;
  width: 64px;
  height: 48px;
}

#title {
  margin-right: 10px;
  font-size: 35px;
  color: rgba(102, 101, 105, 0.959);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 40px;
  font-weight: normal;
  font-style: italic;
  font-family: 'Avenir', serif;
  &:hover {
    color: rgb(8, 8, 8);
    text-decoration: none;
  }
}


header{
  background-image: image-url("white.png");
  #bs-navi{
    float: right;
    margin-right: auto;
  }
  li{
    float: right;
    margin-right: 10px;
  }
}

.navbar-extend{
  padding: 0em;
  min-height: 80px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid rgb(111, 111, 111);
  color: black;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


// home
.jumbotron-extend {
  position: relative;
  height: 50vh;
  min-height: 100px;
  background-image: image-url("back2.jpeg");
  background-size: cover;
}

.btn-black {
  border-radius: 0;
  background-color: #000;
  color: #fff;
  font-style: italic;
  font-family: 'Avenir', serif;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* user */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.user-comment{
  text-indent: 1em;
}

// authors
.authors {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.follow_author{
  list-style: none;
}

/* books */

.book {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    word-break: break-all;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.books{
  .content {
    display: block;
    word-break: break-all;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
}