<footer class="footer">
  <nav>
    <p>画像は下記サイトより引用</p>
    <p>https://books.bunshun.jp/ud/book/num/9784167110062</p>
    <p>https://www.amazon.co.jp/1Q84-BOOK-1-%E6%9D%91%E4%B8%8A-%E6%98%A5%E6%A8%B9/dp/4103534222</p>
    <p>http://renzaburo.jp/masquerade/#night</p>
    <p class="center margin">(c) 2020 BookLike</p>
  </nav>
</footer>
